[Unit]
Description=Athena TimeAttendance Services
After=network.target

[Service]
ExecStartPre=/bin/sleep 5
Type=simple
EnvironmentFile=/opt/athena/env/timeattendance.env
ExecStart=/opt/athena/run/timeattendance.sh
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
