[Unit]
Description=Athena IVIN Services
After=network.target

[Service]
ExecStartPre=/bin/sleep 5
Type=simple
EnvironmentFile=/opt/athena/env/ivin.env
ExecStart=/opt/athena/run/ivin.sh
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
