[Unit]
Description=Athena PlannedRollover Services
After=network.target

[Service]
ExecStartPre=/bin/sleep 5
Type=simple
ExecStart=/opt/athena/run/plannedrollover.sh
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
